<div class="container">
  <app-buscar-tarea></app-buscar-tarea>

<div class="col-10">
  <h2 class="row m-2 justify-content-center align-self-centers">Lista de Tareas</h2>
  <hr>
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Descripción</th>
        <th>Fecha</th>
        <th>Operaciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let tarea of tareas'>
        <td>{{tarea.titulo}}</td>
        <td>{{tarea.descripcion}}</td>
        <td>{{tarea.fecha | date:'dd/MM/yyyy'}}</td>
        <td>
          <button *ngIf="tarea.estado" class="btn btn-success m-1" >Completada</button>
          <button *ngIf="!tarea.estado" class="btn btn-info m-1" (click)="completarTarea(tarea)" >Sin completar</button>
          <div class="row justify-content-center align-self-centers">
            <button class="btn btn-sm btn-warning ml-1"  (click)="toEditarTarea(tarea)">
              Editar
            </button>
            <button class="btn btn-sm btn-danger ml-1" (click)="borrarTarea(tarea)">
              Borrar
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
