<!-- FORM -->
<div class="container">
  <div class="row">
    <div class="col-10">
      <h2> Modificar tarea</h2>
      <div class="card">
        <div class="card-body">
          <form [formGroup]="tareaForm" (ngSubmit)="onSubmit()" >
            <div class="form-group">
              <input type="text" class="form-control" name="titulo" value="{{tarea.titulo}}">
            </div>
            <div class="form-group">
              <textarea cols="80" class="form-control" name="descripcion">{{tarea.descripcion}}</textarea>
            </div>
            <div class="form-group">
              <input class="form-control" type="datetime-local" name="fecha" value="{{tarea.fecha | date: 'yyyy-MM-ddThh:mm'}}">
            </div>
            <button type="submit" class="btn btn-primary btn-block" click="onSubmit()">Confirmar</button>
            <!-- <button class="btn btn-sm btn-warning ml-1" (click)="editarTarea(tarea)">
            <i class="fa fa-trash"></i> Editar
          </button> -->
          <br>
          <button class="btn btn-warning" (click)="volver()">Volver</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
