<!-- FORM -->
<div class="container">
  <div class="row">
    <div class="col-10">
      <h2> Modificar tarea</h2>
      <div class="card">
        <div class="card-body">
          <form class="form-horizontal"  [formGroup]="tareaForm" (ngSubmit)="onSubmit()" >
            <div class="form-group">
              <input formControlName="titulo" type="text" class="form-control" value="{{tarea.titulo}}">
            </div>
            <div class="form-group">
              <textarea formControlName="descripcion" cols="80" class="form-control" >{{tarea.descripcion}}</textarea>
            </div>
            <div class="form-group">
              <input formControlName="fecha" class="form-control" type="datetime-local" value="{{tarea.fecha | date: 'yyyy-MM-ddThh:mm'}}">
            </div>
            <button [disabled]="tareaForm.invalid" type="submit" class="btn btn-primary btn-block">Confirmar</button>
          <br>
        </form>
          <button class="btn btn-secondary col-3" (click)="volver()">Volver</button>
      </div>
    </div>
  </div>
</div>
</div>
